@model ChangePasswordViewModel
@{
    ViewBag.Title = Labels.SETTINGS;
}
@section menu {
    @{Html.RenderPartial("_SettingsMenu", SettingsMenu.Settings);}
}
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @autocomplete = "off", @id = "changePassForm" }))
{    
    <div class="row-fluid">
        <div class="span6 offset3">
            <div id="formInfo" class="alert alert-success hide">
                <a class="close">x</a>
                @ViewBag.SuccessMessage
            </div>
            <div id="formAlert" class="alert alert-error hide">
                <a class="close">x</a>
                @Html.ValidationSummary(true)
            </div>
            <fieldset>
                <legend class="text-center">@Labels.CHANGE_PASSWORD</legend>
                @Html.PasswordFor(m => m.OldPassword, new { @placeholder = @Labels.CURRENT_PASSWORD, @autocomplete = "off" })<br />
                @Html.PasswordFor(m => m.Password, new { @placeholder = @Labels.PASSWORD, @autocomplete = "off" })<br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = @Labels.CONFIRM_PASSWORD, @autocomplete = "off" })<br />
            </fieldset>
            <div class="row-fluid">
                <div class="span12 text-center">
                    <button type="submit" class="btn btn-primary">@Labels.SAVE</button>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
}
@section scripts
{
    @Scripts.Render("~/Scripts/Account/changepassword.js")
}

