@model RecoverPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = Labels.RECOVER_PASSWORD;
    ReCaptcha.PublicKey = "6Lc_lOESAAAAAA3qwRATQGcb8WHzQ67BggRfKbIL";
}
@using (Html.BeginForm("RecoverPassword", "Account", FormMethod.Post, new { @autocomplete = "off", @id = "recoverPassForm" }))
{    
    <div class="row-fluid">
        <div class="span6 offset3 well">
            <div id="formAlert" class="alert alert-error hide">
                <a class="close">x</a>
                @Html.ValidationSummary(true)
            </div>
            <fieldset>
                <legend class="center-align">@Labels.RECOVER_PASSWORD</legend>
                @Html.TextBoxFor(m => m.Email, new { @class = "input-xlarge", @placeholder = @Labels.EMAIL, @type = "email" })<br />
                @ReCaptcha.GetHtml(theme: "clean")<br />
            </fieldset>
            <div class="row-fluid">
                <div class="span12 center-align">
                    <button type="submit" class="btn btn-primary">@Labels.RECOVER_PASSWORD</button>
                </div>
            </div>            
        </div>
    </div>
    @Html.AntiForgeryToken()
}
@section scripts
{
    @Scripts.Render("~/Scripts/Account/recoverpassword.js")
}
