@model ResetPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    ViewBag.Title = Labels.RESET_PASSWORD;
}
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @autocomplete = "off", @id = "resetPassForm" }))
{    
    <div class="row-fluid">
        <div class="span6 offset3 well">
            <div id="formAlert" class="alert alert-error hide">
                <a class="close">x</a>
                @Html.ValidationSummary(true)
            </div>
            <fieldset>
                <legend class="center-align">@Labels.RESET_PASSWORD</legend>
                @Html.PasswordFor(m => m.Password, new { @placeholder = @Labels.PASSWORD, @autocomplete = "off" })<br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = @Labels.CONFIRM_PASSWORD, @autocomplete = "off" })<br />
            </fieldset>
            <div class="row-fluid">
                <div class="span12 center-align">
                    <button type="submit" class="btn btn-primary">@Labels.RESET_PASSWORD</button>
                </div>
            </div>
        </div>
    </div>
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ResetToken)
}
@section scripts
{
    @Scripts.Render("~/Scripts/Account/resetpassword.js")
}
