<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="@Url.Image("logo.png")" />
    <title>@Labels.WEBSITE_NAME @(!String.IsNullOrWhiteSpace(ViewBag.Title) ? String.Format(" - {0}", ViewBag.Title) : String.Empty)</title>
    @Styles.Render("~/Content/account")
    <script type="text/javascript" src="~/Scripts/Shared/analytics.js"></script>
</head>
<body>
    <section id="navbar">
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="@Url.HomeIndex()"></a>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid">
        @RenderBody()
    </section>
    <footer class="navbar navbar-fixed-bottom">
        <div class="container-fluid pull-right">
            <a href="http://www.treenks.com" target="_blank">Treenks</a> &copy; @DateTime.UtcNow.Year
            <a href="mailto:contact@bralek.com"><i class="icon-envelope"></i></a>
        </div>
    </footer>
    @Scripts.Render("~/bundles/accountscripts")
    @RenderSection("scripts", required: false)
</body>
</html>
